@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");

.indexContainer {
  @include verticalCenter;
    flex-wrap: wrap;
    position: relative;
  .container {
    display: flex;
    justify-content: center;
    padding: 80px;
  }

  .square:hover {
    -webkit-transform: translate(1px, -1px);
    -ms-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.08);
  }

  .square {
    width: 460px;
    height: 430px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 10px lighten($color: $black, $amount: 10%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .mask {
    clip: rect(0px, 460px, 220px, 0px);
    border-radius: 4px;
    position: absolute;
  }

  img {
    width: 460px;
  }

  .h1 {
    margin: auto;
    text-align: left;
    margin-top: 240px;
    padding-left: 30px;

    font-family: "Merriweather", serif;
    font-size: 24px;
  }
  p {
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #c8c8c8;
    line-height: 18px;
  }


  button {
    background-color: #3edd84;
    color: white;
    border: none;
    // width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: "merriweather";
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
